@use '../css/foundation.css';

@font-face {
  font-family: 'Moon';
  src: url('../../assets/fonts/Moon2.0-Regular.woff2') format('woff2');
}

/* SCSS Variables */
$moon: "Moon", sans-serif;
$ave: "Avenir", sans-serif;

body {
  background: #000000;
  color: #FFFFFF;
  font-family: $ave;
}

p {
  font-size: 1.2vw;
}

li {
  font-size: 1.2vw;
}

.stuff {
  width: 50vw;
  margin: auto;
  background: #262626;
  padding: 1vw;
}

h1 {
  text-align: center;
  font-family: $moon;
  font-size: 4vw;
  margin-top: 0;
}

h2 {
  font-family: $moon;
  font-size: 2vw;
}

h4 {
  font-family: $moon;
  font-size: 1.5vw;
}

.author {
  float: right;
  position: relative;
  top: -4vw;
  border-bottom-style: dashed;
  border-bottom-width: 0.1vw;
  padding-bottom: 0.2vw;
}

.occupied {
  width: 50vw;
  max-width: 50vw;
}

.circle {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  float: right;
}

.planet {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  object-position: -16.25vw -1.25vw;
}

.dashedUnder {
  border-bottom-style: dashed;
  border-bottom-width: 0.1vw;
}

.footerStuff {
  font-size: 0.9vw;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 0.4vw;
  box-sizing: border-box;
  font-family: $ave;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1vw;
}


input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 2vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1vw;
}

.container {
  border-radius: 5px;
  padding: 2vw;
  font-family: $ave;
  font-size: 1vw;
}

.contactHead {
  text-align: center;
  font-size: 2vw;
  margin-bottom: -1vw;
  margin-top: 3vw;
}

label {
  color: #FFFFFF;
}